@import '../../sassStyles/variables';

.information-container {
    color: #6A6E6E;
    animation: information-fade 2s;

    .information-list{
        padding-left: 30px;
        padding-right: 20px;

        li {
            text-align: justify;
            margin-top: 15px;
            padding-left: 0.5rem;
    
            &:first-of-type{
                margin: 0;
            }
    
            &::marker{
                content: "■";
                margin-right: auto;
            }
        }
    } 
}

@keyframes information-fade {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

