@import '../../sassStyles/variables';

.search-products-details-container {
    background-color: #eef0ef;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.content-container {

    .results-info{
        padding: 20px;
        padding-top: 0;
        color: $gray-dark;
    }
}