@import '../../sassStyles/variables';

.products-results-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.text-first{
    color: $primary;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.text-secondary{
    color: $gray-dark;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}