@import '../../sassStyles/variables';

.products-results-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.text-first{
    color: $gray-lighter;
    padding-left: 20px;
    padding-right: 20px;
}

.text-secondary{
    color: $gray-lighter !important;
    padding-left: 20px;
    padding-right: 20px;
    font-style: italic;
}