@import '../../sassStyles/variables';

.see-more-container{
    padding: 10px;
    margin-top: auto;
    text-align: center;

    .btn-primary{
        font-family: 'Helvetica';
        font-weight: bold;
        background-color: $primary;
        border-color: $primary;
        border-radius: 10px;
    }
}