@import '../../sassStyles/variables';

.card-comments {
    background-color: #eaeaea;
    padding-left: 10px;    
    padding-right: 10px;  
    padding-top: 5px;  
    padding-bottom: 20px;  
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.icon-style {
    color: $primary;
    margin-top: -2px;
    margin-right: 5px;
}

.first-text {
    color: $gray-dark;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;

}
.second-text {
    color: $primary;
    margin-bottom: 0px;
    text-decoration: none $primary; 
}
.second-text:hover {
    color: $primary;
}