@import '../../sassStyles/variables';

.card-comments {
    background-color: #eaeaea;
    padding-left: 20%;    
    padding-right: 20%;  
    padding-bottom: 15px;  
    padding-top: 15px;  
    width: 100%;
    text-align: left;
    margin-top: auto;
}

.card-comments-content {
    margin-left: -15%;
    justify-content: center;
}

.icon-content {
    max-width: fit-content;
    max-height: fit-content;
    padding: 0;
}

.icon-style {
    color: $gray-dark;
    margin-top: -2px;
    margin-right: 5px;
}

.icon-link {
    height: fit-content;
    width: fit-content;
    display: flex;
}

.text-content {
    max-width: fit-content;
    padding: 0;
}

.first-text {
    color: $gray-dark;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.second-text {
    color: $primary;
    margin-bottom: 0px;
    text-decoration: none $primary; 
}
.second-text:hover {
    color: $primary;
}

@media screen and (max-width: 295px) {
    .first-text {
        font-size: 10px;
    }

    .second-text {
        font-size: 10px;
    }
}