@import '../../sassStyles/variables';

.store-results-container{
    background-color: #eef0ef;
    display: flex;
    flex-direction: column;
    align-content: center;
    
    .items-container .container:last-of-type{
        padding-bottom: 30px;
    }
}

.p-text{
    color: $gray-dark;
    margin-left: 20px;
}

p > span {
    font-weight: 600;
    text-transform: uppercase;
}