@import '../../sassStyles/variables';

.nav{
    justify-content: space-around;
}
.nav-tabs{
    background-color: $primary;
    margin-bottom: 10px;
}

.nav-link{
    border: none!important;
    color: white!important;
    background-color: $primary;
}

.nav-link.active{
    background-color: white;
    color: $primary!important;
}

.nav-item{
    width: 50%;
    text-align: center;
}