@import '../../sassStyles/variables';
.itemProductContainer{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.p-title{
    font-weight: 900;
    color: $gray-dark;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.p-price-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .p-title {
        margin: 0;
    }
}

.p-subtitle{
    color: $gray-dark;
    text-transform: lowercase;
    margin-bottom: 0;
    line-height: 1;
}

.p-subtitle:first-letter {
    text-transform: uppercase;         
}


.p-price{
    font-weight: 900;
    font-size: 23px;
    color: $primary;
    margin-bottom: 0;
    margin-left: 3px;
    line-height: 1;
}
.icon-arrow-right{
    font-size: 25px;
    font-weight: bold;
    color:  $gray-dark;
    -webkit-text-stroke: 1px $gray-dark;
}

.click {
    cursor: pointer;
    display: flex;
    align-items: center;

    span {
        display: flex;
        align-items: flex-end;

        i {
            display: flex;
            align-items: flex-end;
        }
    }
}