@import '../../sassStyles/variables';

.home-container {
    background-color: #eef0ef;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    animation: home-fade 1.5s;
    color: black;

    .logo-container{
        margin-top: 20px;
    }

    .logo{
        text-align: center;
    }
    
    .text-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-description-container{
        margin-top: 15px;

        .text-description{
            text-align: center;
            font-style: italic;
            color: #4e4e4e;
            font-size: 14px;
        }

        .text-description-after{
            text-align: center;
            color: #585757;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
        }
    }

    .terms-and-conditions-container {
        margin-top: 25px;
        text-align: center;
    }
    
    .bottom-logo-icon{
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .bottom-logo-icon:last-of-type{
        margin-top: 15px;
    }

    .imgApeseg {
        margin-bottom: 8px;
        align-items: center;
    }

    .link-tc {
        color: $primary;
    }

    .search-input-container {
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
    
}




// Animations

@keyframes home-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}