@import '../../scss/variables';

.home-container {
    background-color: #eef0ef;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    animation: home-fade 1.5s;

    .logo{
        text-align: center;
    }
    
    .text-container{
        display: flex;
        align-items: center;
        justify-content: center;
    
        .logo-text{
            text-align: center;
            font-size: 50px;
            font-weight: 800;
            margin-right: 10px;
        }
    }

    .text-description-container{
        .text-description{
            text-align: center;
        }
    }
    
    .bottom-logo-icon{
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .bottom-logo-icon:last-of-type{
        margin-top: 15px;
    }
}

// Animations

@keyframes home-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}