.App {
  background-color: rgb(16, 91, 120);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

.top-logos{
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top-logo-icon:last-of-type{
  margin-top: 15px;
}

.logo-text{
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}