.App {
  background-color: #eef0ef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #249ba8;
}

.logo{
  text-align: center;
}

.text-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text{
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  margin-right: 10px;
}

.search-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0px;
}

.search-container .input-group{
  width: 80%;
}

.form-control {
  color: white !important;
  background-color: #249ba8 !important;
  border: 1px solid #249ba8 !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-control::placeholder {
  color: white !important;
}

.input-icon {
  font-size: 1rem;
  color: white;
  display: flex;
}

.input-group-text {
  background-color: #249ba8 !important;
  border: 1px solid #249ba8 !important;
}

.bottom-logo-icon:last-of-type{
  margin-top: 15px;
}