@import '../../sassStyles/variables';

.card-titleContainer{
    background-color: $primary;
    padding-top: 30px;
    flex-direction: row;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.card-title {
    width: calc(100vw - 78px);
    display: flex;
    padding: 0;
    position: relative;
}

.card-title-titleContainer{
    text-transform: uppercase;
    color: white;
    padding-bottom: 0px;
}

.card-title-titleContainer-quantity{
    color: white;
    padding-bottom: 0px;
}

.card-title-titleContainer-concentration{
    text-transform: uppercase;
    color: white;
    padding-bottom: 0px;
}

.icon-container{
    max-width: fit-content;
    cursor: pointer;
}

.icon-title{    
    width: fit-content;
    font-size: 20;
    margin-right: 10px;
    color: white;
}

.title-text-container{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tooltip-container {
    position: relative;
    overflow: visible;

    strong{
        margin: 0px 4px;
    }
    
    .tooltiptext {
        visibility: hidden;
        width: fit-content;
        max-width: 80vw;
        background-color: $gray-dark;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        white-space: normal;
        font-size: .875em;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 25px;
        left: 0px;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }

    &:active .tooltiptext {
        visibility: visible;
    }

}

