@import '../../sassStyles/variables';

.card-titleContainer{
    background-color: $primary;
    padding-top: 30px;
    flex-direction: row;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.card-title-titleContainer{
    text-transform: uppercase;
    color: white;
    padding-bottom: 0px;
}
.icon-title{    
    font-size: 20;
    margin-right: 10px;
    color: white;
}

