@import '../../sassStyles/variables';


.search-container {
    background-color: #eef0ef;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;

    .search-input{
        width: 100%;
        display: flex;
        justify-content: center;

        .input-group {
            padding-top: 10px;
            background-color: $primary !important;
        }
    
        .form-control {
            color: white !important;
            background-color: $primary !important;
            border: 1px solid $primary !important;
            height: 55px;
            border-radius: 0px;

            &:focus {
                box-shadow: none !important;
            }

            &::placeholder {
                color: white !important;
            }
        }
    
        .input-icon {
            font-size: 1rem;
            color: white;
            display: flex;
        }
        
        .input-group-text {
            background-color: $primary !important;
            border: 1px solid $primary !important;
            border-radius: 0px;
        }
    }

    .results-container{
        padding: 10px;
    }

    .see-more-btn{
        padding: 10px;
        margin-top: auto;
        text-align: center;

        .btn-primary{
            background-color: $primary;
            border-color: $primary;
            border-radius: 10px;
        }
    }
}