@import '../../sassStyles/variables';


.search-container {
    background-color: #eef0ef;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;

    .search-input{
        width: 100%;
        display: flex;
        justify-content: center;

        .input-group {
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: $primary !important;
        }
    
        .form-control {
            color: white !important;
            background-color: $primary !important;
            border: none !important;
            border-bottom: 1px solid white !important;
            height: 45px;
            margin-left: 20px;
            padding-left: 0;
            border-radius: 0px;

            &:focus {
                box-shadow: none !important;
            }

            &::placeholder {
                color: white !important;
            }
        }
    
        .input-icon {
            font-size: 1rem;
            color: white;
            display: flex;
        }
        
        .input-group-text {
            background-color: $primary !important;
            border: none !important;
            border-bottom: 1px solid white !important;
            border-radius: 0px;
            margin-right: 20px;
        }
    }

    .results-info{
        padding: 20px;
        font-size: 12px;
        font-weight: bold;
    }

    .results-container{
        padding: 20px;
        padding-top: 0;
        max-height: calc(100vh - 228px);
        overflow: auto;

        .product-card-container:first-of-type {
            margin: 0;
        }

        .see-more-button-container {
            margin-top: 20px;
            padding: 0;
        }
    }

}