@import '../../sassStyles/variables';

.store-places-container{
    background-color: #eef0ef;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center
}

.p-text{
    color: $gray-dark;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}